<%- include('includes/header') %>
<%- include('includes/flash') %>
<div >
    <h3 class="text-center bolder text-primary mt-4">Today's Attendence</h3>
    <div class="signUp-form-container ">   
        <h2 class="bolder text-center"> Students : 1120</h2>
        <h2 class="bolder text-center"> Professors : 150/200</h2>
        <h2 class="bolder text-center">Date : 18 April 2023</h2>
    </div>
    <hr>
    <h2 class="bolder text-warning text-center"><strong>NBU Daily Attendence Record</strong> </h2>
    <hr>
    <h3 class="text-center bolder text-primary mt-4 ">Last Day's Attendence</h3>
    <div class="signUp-form-container mb-4">   
        <h2 class="bolder text-center"> Students : 1000</h2>
        <h2 class="bolder text-center"> Professors : 190/200 </h2>
        <h2 class="bolder text-center">Date : 17 April 2023</h2>
    </div>
    
</div>

<%- include('includes/footer') %>