<%- include('includes/header') %>
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
    <div class="col-lg notVisibleOnCollapse" >
    </div>
    <div class="col-lg-9 pt-1" >
        <div class="">
            <div style="width: 100%;position: relative;">
                <img class="home-cover-image" src="/images/banner.jpg"/>
            <div>
            <div style="position: relative;display: inline;">
                <img class="home-profile-image" src="/image/h" />  
            </div>
                <div>
                    <h5 class="bolder text-secondary text-capetalize d-inline">
                      <strong>Sohag Roy</strong></h5>
                    <h5 class="bolder d-inline float-right">
                      <i class="fas fa-user"></i> Student
                    </h5>
                </div> 
                <hr> 
                
                <div class="item-container">
                  <div >
                    <strong><i class="fas fa-book"></i>  1st Semester All Classes</strong>
                  </div>
                  <hr>
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr class="text-center bolder">
                        <th scope="col"><strong>Date</strong> </th>
                        <th scope="col"><strong>Classes</strong> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <div>
                            16/12/2023
                          </div>
                          <div>
                            Wednesday
                          </div>
                        <td>
                          <div class="colored-activity-container mb-1 ">
                            <div class="row">
                              <div class="col-lg-6">
                                <p><strong>Subject : Data Structure and algorithm</strong></p>   
                                <p><strong>Professor : Arindam Sarkar</strong></p>             
                              </div>
                              <div class="col-lg-6">
                                <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                                <p class="text-warning"><strong>Go to the class details</strong></p>
                              </div>
                            </div>
                          </div>
                          <div class="colored-activity-container mb-1 ">
                            <div class="row">
                              <div class="col-lg-6">
                                <p><strong>Subject : Data Structure and algorithm</strong></p>   
                                <p><strong>Professor : Arindam Sarkar</strong></p>               
                              </div>
                              <div class="col-lg-6">
                                <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                                <p class="text-warning"><strong>Go to the class details</strong></p>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div>
                            16/12/2023
                          </div>
                          <div>
                            Wednesday
                          </div>
                        </th>
                        <td>
                          <div class="colored-activity-container mb-1 ">
                            <div class="row">
                              <div class="col-lg-6">
                                <p><strong>Subject : Data Structure and algorithm</strong></p>   
                                <p><strong>Professor : Akash Goshwami</strong></p>               
                              </div>
                              <div class="col-lg-6">
                                <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                                <p class="text-warning"><strong>Go to the class details</strong></p>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
            </div> 
          </div>    
      </div>
      <div class="col-lg notVisibleOnCollapse" >
      </div>
  </div>
  <%- include('includes/footer') %>