<%- include('includes/header') %>
<%- include('includes/flash') %>
<hr>
<h3 class="text-center">Guest home Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img" style="height:100px;"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">NBU ONLINE ATTENDENCE SYSTEM </span>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Today's Attendence Details</strong>
            </div>
            <hr>
            <div class="p-4 bolder text-success text-center">
              <h2><strong>Students : 90%</strong></h2>
              <h2><strong>Professors : 100%</strong></h2>
              <h2><strong>Date : 12/04/2023</strong></h2>
            </div>
          </div>
          <hr>
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-user-tie"></i> All Members</strong>
            </div>
            <hr>
            <div class="p-4 bolder text-success text-center">
              <h2><strong>Total Students : 1200</strong></h2>
              <h2><strong>Total Professors : 520</strong></h2>
              
            </div>
          </div>
        </div>

        <div class="col-lg-5 ">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Batches with 100% attendence</strong>
            </div>
            <hr>
            <div class=" border bg-secondary mb-1">
              <div class="text-center bolder text-warning">
                <span class=" d-block "><strong>Department of Bengali</strong></span>
                <span class=" d-block "><strong>Semester : 2nd</strong></span>
              </div>
            </div>
            <div class=" border bg-secondary mb-1">
              <div class="text-center bolder text-warning">
                <span class=" d-block "><strong>Department of Physics</strong></span>
                <span class=" d-block "><strong>Semester : 2nd</strong></span>
              </div>
            </div>
            <div class=" border bg-secondary mb-1">
              <div class="text-center bolder text-warning">
                <span class=" d-block "><strong>Department of Chemistry</strong></span>
                <span class=" d-block "><strong>Semester : 2nd</strong></span>
              </div>
            </div>
            <div class=" border bg-secondary mb-1">
              <div class="text-center bolder text-warning">
                <span class=" d-block "><strong>Department of English</strong></span>
                <span class=" d-block "><strong>Semester : 2nd</strong></span>
              </div>
            </div>
            <div class=" border bg-secondary mb-1">
              <div class="text-center bolder text-warning">
                <span class=" d-block "><strong>Department of Bengali</strong></span>
                <span class=" d-block "><strong>Semester : 2nd</strong></span>
              </div>
            </div>
            <div class=" border bg-secondary mb-1">
              <div class="text-center bolder text-warning">
                <span class=" d-block "><strong>Department of Bengali</strong></span>
                <span class=" d-block "><strong>Semester : 2nd</strong></span>
              </div>
            </div>
          </div>
        
          
        </div>
      </div>
      <hr>
      <div class="colored-container  bolder">
        
        <div class="row">
          
          <div class="col-12">
            <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
          </div>
        </div>
        
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<hr>
<h3 class="text-center">Department Details Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">DEPARTMENT </span>
        <span class="d-block">Of</span>
        <span class="d-block">BENGALI</span>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <a href="/batch//details"><span class="button">First Semester</span></a>
      <a href="/batch//details"><span class="button">Third Semester</span></a>
    </div>
    <hr>
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Attendence Details</strong>
            </div>
            <hr>
            <div class="p-4 bolder text-success text-center">
              <h2><strong>Students : 90%</strong></h2>
              <h2><strong>Professors : 100%</strong></h2>
              <h2><strong>Date : 12/04/2023</strong></h2>
            </div>
          </div>
          <hr>
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-book"></i> Today's All Classes</strong>
            </div>
            <hr>
              <div class="teacher-banner-container">
              <a href="/class//details" style="text-decoration: none;">
                  <div class="activity-link-container-small border ">
                    <div class="item-container">
                      <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                    </div>
                    <div class="class-text-container p-c-m-b-55 bolder">
                      <p ><strong> Period : 2nd</strong></p>
                      <p ><strong> Semester : 1st</strong></p>
                      <p ><strong> Timing : 12:00pm-02:00pm</strong></p>
                      <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar</strong></p>
                      <div class="m-2">
                        <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/class//details" style="text-decoration: none;">
                  <div class="activity-link-container-small border ">
                    <div class="item-container">
                      <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                    </div>
                    <div class="class-text-container p-c-m-b-55 bolder">
                      <p ><strong> Period : 2nd</strong></p>
                      <p ><strong> Timing : 12:00am</strong></p>
                      <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar</strong></p>
                      <div class="m-2">
                        <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/class//details" style="text-decoration: none;">
                  <div class="activity-link-container-small border ">
                    <div class="item-container">
                      <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                    </div>
                    <div class="class-text-container p-c-m-b-55 bolder">
                      <p ><strong> Period : 2nd</strong></p>
                      <p ><strong> Timing : 12:00am-02:00pm</strong></p>
                      <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar Sarkar</strong></p>
                      <div class="m-2">
                        <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                      </div>
                    </div>
                  </div>
                </a>
                 
              </div>
          </div>
        </div>

        <div class="col-lg-5 ">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Head of the Department</strong>
            </div>
            <hr>
            <li class="list-group-item  d-flex align-items-center">
              <div class="mr-auto d-flex align-items-center"> 
                <div class="mr-2">
                    <img class="member-avatar"  src="/image/he" alt="">
                </div>
                <div>
                    <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
                    <span class="item-text d-block"><strong>Joined as HOD on : </strong>12/04/2023</span>
                </div>
              </div>
              <div class="badge-pill badge-success">Present</div>
          </li>
          <hr>
            <div >
              <strong ><i class="fas fa-users"></i> All Professors</strong>
            </div>
            <hr>
            <li class="list-group-item  d-flex align-items-center">
              <div class="mr-auto d-flex align-items-center"> 
                <div class="mr-2">
                    <img class="member-avatar"  src="/image/he" alt="">
                </div>
                <div>
                    <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
                </div>
              </div>
              <div class="badge-pill badge-secondary">Absent</div>
          </li>
          <li class="list-group-item  d-flex align-items-center">
            <div class="mr-auto d-flex align-items-center"> 
              <div class="mr-2">
                  <img class="member-avatar"  src="/image/he" alt="">
              </div>
              <div>
                  <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
              </div>
            </div>
            <div class="badge-pill badge-success">Present</div>
        </li>
        <li class="list-group-item  d-flex align-items-center">
          <div class="mr-auto d-flex align-items-center"> 
            <div class="mr-2">
                <img class="member-avatar"  src="/image/he" alt="">
            </div>
            <div>
                <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
            </div>
          </div>
          <div class="badge-pill badge-success">Present</div>
        </li>
          </div>
        </div>
      </div>
      <hr>
      <div class="colored-container  bolder">
        <div >
          <strong><i class="fas fa-user-tie"></i> Identity</strong>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <p><strong>Department Name : Bengali</strong></p>
            <p><strong>Department Code : BENGL</strong></p>
            <hr>
            <p><strong>Department Official Assistant : </strong></p>
            <p><strong>Name : Sohag Roy</strong></p>
          </div>
          <div class="col-lg-6">
            <div class="item-container mb-2">
              <div >
                <strong class="bolder"><i class="fas fa-user-tie"></i> All X-Batches</strong>
              </div>
              <hr>
              <div class="teacher-banner-container bolder text-center">
                <div class="activity-link-container-small">
                  <div class="item-container border m-2">
                    Session : 2020-2022
                  </div>
                </div>
                <div class="activity-link-container-small">
                  <div class="item-container border m-2">
                    Session : 2020-2022
                  </div>
                </div><div class="activity-link-container-small">
                  <div class="item-container border m-2">
                    Session : 2020-2022
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
          </div>
        </div>
        
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<hr>
<h3 class="text-center">Batch Details Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">BATCH : 2022-2024 </span>
        <span class="d-block">SEMESTER : 1ST</span>
        <span class="d-block">DEPARTMENT OF BENGALI</span>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Attendence Details</strong>
            </div>
            <hr>
            <div class="p-4 bolder text-success text-center">
              <h2><strong>Students : 90%</strong></h2>
              <h2><strong>Date : 12/04/2023</strong></h2>
            </div>
          </div>
          <hr>
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-book"></i> Today's All Classes</strong>
            </div>
            <hr>
              <div class="teacher-banner-container">
              <a href="/class//details" style="text-decoration: none;">
                  <div class="activity-link-container-small border ">
                    <div class="item-container">
                      <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                    </div>
                    <div class="class-text-container bolder">
                      <p ><strong> Period : 2nd</strong></p>
                      <p ><strong> Timing : 12:00pm-02:00pm</strong></p>
                      <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar</strong></p>
                      <div class="m-2">
                        <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/class//details" style="text-decoration: none;">
                  <div class="activity-link-container-small border ">
                    <div class="item-container">
                      <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                    </div>
                    <div class="class-text-container bolder">
                      <p ><strong> Period : 2nd</strong></p>
                      <p ><strong> Timing : 12:00am</strong></p>
                      <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar</strong></p>
                      <div class="m-2">
                        <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/class//details" style="text-decoration: none;">
                  <div class="activity-link-container-small border ">
                    <div class="item-container">
                      <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                    </div>
                    <div class="class-text-container bolder">
                      <p ><strong> Period : 2nd</strong></p>
                      <p ><strong> Timing : 12:00am-02:00pm</strong></p>
                      <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar Sarkar</strong></p>
                      <div class="m-2">
                        <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                      </div>
                    </div>
                  </div>
                </a>
                
                
                
              </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-users"></i> All Students</strong>
            </div>
            <hr>
            <li class="list-group-item  d-flex align-items-center">
              <div class="mr-auto d-flex align-items-center"> 
                <div class="mr-2">
                    <img class="member-avatar"  src="/image/he" alt="">
                </div>
                <div>
                    <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
                </div>
              </div>
          </li>
          <li class="list-group-item  d-flex align-items-center">
            <div class="mr-auto d-flex align-items-center"> 
              <div class="mr-2">
                  <img class="member-avatar"  src="/image/he" alt="">
              </div>
              <div>
                  <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
              </div>
            </div>
        </li>
        <li class="list-group-item  d-flex align-items-center">
          <div class="mr-auto d-flex align-items-center"> 
            <div class="mr-2">
                <img class="member-avatar"  src="/image/he" alt="">
            </div>
            <div>
                <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
            </div>
          </div>
        </li>
          </div>
        </div>
      </div>
      <hr>
      <div class="item-container">
        <div >
          <strong ><i class="fas fa-users"></i> Class Routine</strong>
        </div>
        <hr>
        <table class="table table-bordered text-center">
          <tbody>
            <tr>
                <th rowspan="2" scope="col">Classes</th>
                <th scope="col">1st Class</th>
                <th scope="col">2nd Class</th>
                <th scope="col">3rd Class</th>
            </tr>
            
            <tr>
               <th >10:30am-12:30pm</th>
               <th >12:30am-02:30pm</th>
               <th >03:00am-05:00pm</th>
              
            </tr>

              <tr>
                <th rowspan="2" scope="col">Monday</th>
                <td>DSA</td>
                <td>DSA</td>
                <td>DSA</td>
              </tr>
              <tr>
                <td>Sohag Roy</td>
                <td>Sohag Roy</td>
                <td>Sohag Roy</td>
              </tr>
              <tr>
                <th rowspan="2" scope="col">Monday</th>
                <td>DSA</td>
                <td>DSA</td>
                <td>DSA</td>
              </tr>
              <tr>
                <td>Sohag Roy</td>
                <td>Sohag Roy</td>
                <td>Sohag Roy</td>
              </tr>
            
          </tbody>
        </table>
        <hr>
      </div>
      <hr>
      <div class="colored-container  bolder">
        <div >
          <strong><i class="fas fa-user-tie"></i> Batch Details</strong>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <p><strong>Department Name : Bengali</strong></p>
            <p><strong>Department Code : BENGL</strong></p>
          </div>
          <div class="col-lg-6">
            <p><strong>Session Year : 2021-2023</strong></p>
            <p><strong>Semester : 2nd</strong></p>
          </div>
          <div class="col-12">
            <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
          </div>
        </div>
        
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<hr>
<h3 class="text-center">Single Class Details Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">BATCH : 2022-2024 </span>
        <span class="d-block">SEMESTER : 1ST</span>
        <span class="d-block">DEPARTMENT OF BENGALI</span>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Class Details</strong>
            </div>
            <hr>
            <div class="class-teacher-title ">
              <img class="class-teacher-image" src="/image/d" alt="">
              <hr>
              <p><strong>Professor : Sohag Roy</strong> </p>
              <p>Subject : Computer Graphics</p>
              <p>Timing : 10:30am-12:30pm</p>
              <p>Class Date : 12/05/2023</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-users"></i> Attended Students</strong>
            </div>
            <hr>
            <li class="list-group-item  d-flex align-items-center">
              <div class="mr-auto d-flex align-items-center"> 
                <div class="mr-2">
                    <img class="member-avatar"  src="/image/he" alt="">
                </div>
                <div>
                    <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
                </div>
              </div>
          </li>
          <li class="list-group-item  d-flex align-items-center">
            <div class="mr-auto d-flex align-items-center"> 
              <div class="mr-2">
                  <img class="member-avatar"  src="/image/he" alt="">
              </div>
              <div>
                  <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
              </div>
            </div>
        </li>
        <li class="list-group-item  d-flex align-items-center">
          <div class="mr-auto d-flex align-items-center"> 
            <div class="mr-2">
                <img class="member-avatar"  src="/image/he" alt="">
            </div>
            <div>
                <span class="item-text d-block"><strong>Name : </strong>Sohag Roy</span>
            </div>
          </div>
      </li>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<hr>
<h3 class="text-center">Department All Activities Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">DEPARTMENT</span>
        <span class="d-block">Of</span>
        <span class="d-block">BENGALI</span>
      </div>
    </div>
    <hr>
      <div class="">
              <div class="item-container">
                <div >
                  <strong><i class="fas fa-book"></i>  Session Year "2021-2022" All Classes</strong>
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="text-center bolder">
                      <th scope="col"><strong>Date</strong> </th>
                      <th scope="col"><strong>Classes</strong> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Arindam Sarkar</strong></p>             
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Semester : 1st (time:-10:30am-12:30pm)</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Arindam Sarkar</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Semester : 1st (time:-10:30am-12:30pm)</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      </th>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Akash Goshwami</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Semester : 1st (time:-10:30am-12:30pm)</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

        </div>    
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
</div>
<hr>
<h3 class="text-center">Session Batch All Activities Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">BATCH : 2022-2024 </span>
        <span class="d-block">SEMESTER : 1ST</span>
        <span class="d-block">DEPARTMENT OF BENGALI</span>
      </div>
    </div>
    <hr>
      <div class="">
              <div class="item-container">
                <div >
                  <strong><i class="fas fa-book"></i>  1st Semester All Classes</strong>
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="text-center bolder">
                      <th scope="col"><strong>Date</strong> </th>
                      <th scope="col"><strong>Classes</strong> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Arindam Sarkar</strong></p>             
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Arindam Sarkar</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      </th>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Akash Goshwami</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

        </div>    
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
</div>
<hr>
<h3 class="text-center">Students All Activities Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
      <div class="">
          <div style="width: 100%;position: relative;">
              <img class="home-cover-image" src="/images/banner.jpg"/>
          <div>
          <div style="position: relative;display: inline;">
              <img class="home-profile-image" src="/image/s" />  
          </div>
              <div>
                  <h5 class="bolder text-secondary text-capetalize d-inline">
                    <strong>Sohag Roy</strong></h5>
                  <h5 class="bolder d-inline float-right">
                    <i class="fas fa-user"></i> Student
                  </h5>
              </div> 
              <hr> 
              
              <div class="item-container">
                <div >
                  <strong><i class="fas fa-book"></i>  1st Semester All Classes</strong>
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="text-center bolder">
                      <th scope="col"><strong>Date</strong> </th>
                      <th scope="col"><strong>Classes</strong> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Arindam Sarkar</strong></p>             
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Arindam Sarkar</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      </th>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Professor : Akash Goshwami</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Timing : 10:30am-12:30pm</strong></p> 
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
              </div>
          </div> 
        </div>    
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
</div>
<hr>
<h3 class="text-center">Professor All Activities Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
      <div class="">
          <div style="width: 100%;position: relative;">
              <img class="home-cover-image" src="/images/banner.jpg"/>
          <div>
          <div style="position: relative;display: inline;">
              <img class="home-profile-image" src="/image/s" />  
          </div>
              <div>
                  <h5 class="bolder text-secondary text-capetalize d-inline">
                    <strong>Arindam Sarkar</strong></h5>
                  <h5 class="bolder d-inline float-right">
                    <i class="fas fa-user"></i> Professor
                  </h5>
              </div> 
              <hr> 
              
              <div class="item-container">
                <div >
                  <strong><i class="fas fa-book"></i>  Session Year "2021-2022" All Classes</strong>
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="text-center bolder">
                      <th scope="col"><strong>Date</strong> </th>
                      <th scope="col"><strong>Classes</strong> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      </th>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Timing : 10:30am-12:30pm</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Semester : 1st</strong></p>
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Timing : 10:30am-12:30pm</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Semester : 1st</strong></p>
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <div>
                          16/12/2023
                        </div>
                        <div>
                          Wednesday
                        </div>
                      </th>
                      <td>
                        <div class="colored-activity-container mb-1 ">
                          <div class="row">
                            <div class="col-lg-6">
                              <p><strong>Subject : Data Structure and algorithm</strong></p>   
                              <p><strong>Timing : 10:30am-12:30pm</strong></p>               
                            </div>
                            <div class="col-lg-6">
                              <p><strong>Semester : 1st</strong></p>
                              <p class="text-warning"><strong>Go to the class details</strong></p>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
              </div>
          </div> 
        </div>    
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
</div>
<hr>
<h3 class="text-center">Professor Home Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
      <div class="">
          <div style="width: 100%;position: relative;">
              <img class="home-cover-image" src="/images/banner.jpg"/>
          <div>
          <div style="position: relative;display: inline;">
              <img class="home-profile-image" src="/image/s" />
              <div style="position: absolute;right: 7px;top: -25px;">
                  <h5 type="button" class="text-info" data-toggle="modal" data-target="#profilePicUploadCenter"><i class="fas fa-camera-retro"></i></h5>
                  <!-- Modal -->
                  <div class="modal fade" id="profilePicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Picture</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/upload-profile-photo" method="post" enctype="multipart/form-data">
                            <div class="form-group text-left">
                              <label class="form-label" for="customFile">Choose Profile Photo (jpeg/png)</label>
                              <input type="file" name="image" class="form-control" id="customFile" />
                            </div>
                            <div style="text-align: left;">
                              <button class="btn btn-success btn-sm ">Upload</button>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ----------model ends------- -->
                </div>
              </div>
              <div>
                  <h5 class="bolder text-secondary text-capetalize d-inline">
                    <strong>Arindam Sarkar</strong></h5>
                  <h5 class="bolder d-inline float-right">
                    <i class="fas fa-user"></i> Professor
                  </h5>
              </div> 
              <hr> 
              <div class="colored-container  bolder">
                <div class="row">
                  <div class="col-12">
                    <div class="btn btn-block btn-md btn-info">Go to Department</div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="item-container">
                <div >
                  <strong><i class="fas fa-book"></i> Today's Classes</strong>
                </div>
                <hr>
                <div class="d-flex justify-content-center">
                  
                  <a href="/class//details" style="text-decoration: none;">
                    <div class="activity-link-container-small border ">
                      <div class="item-container">
                        <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                      </div>
                      <div class="class-text-container bolder">
                        <p ><strong> Period : 2nd</strong></p>
                        <p ><strong> Semester : 1st </strong></p>
                        <p style="margin-bottom:.4rem;"><strong>Timing : 12:00pm-02:00pm</strong></p>
                        <div class="m-2">
                          <div class="btn btn-outline-secondary btn-sm btn-block">Take Attendence</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="/class//details" style="text-decoration: none;">
                    <div class="activity-link-container-small border ">
                      <div class="item-container">
                        <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                      </div>
                      <div class="class-text-container bolder">
                        <p ><strong> Period : 2nd</strong></p>
                        <p ><strong> Semester : 1st </strong></p>
                        <p style="margin-bottom:.4rem;"><strong>Timing : 12:00pm-02:00pm</strong></p>
                        <div class="m-2">
                          <div class="btn btn-outline-secondary btn-sm btn-block">Take Attendence</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <hr>
              <div class="colored-container  bolder">
                <div >
                  <strong ><i class="fas fa-user-tie"></i> Identity</strong>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-6">
                    <p><strong>Name : Sohag Roy</strong></p>
                    <p><strong>Department : Bengali</strong></p>
                  </div>
                  <div class="col-lg-6">
                    <p><strong>Joining Date : 05/02/2023</strong></p>
                    <p><strong>Email Id : sarkararindam12@gmail.com</strong></p>
                  </div>
                  <div class="col-12">
                    <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
                  </div>
                </div>
                
              </div>
              </div>
          </div> 
        </div>    
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
</div>
<hr>
<h3 class="text-center">Student Home Page</h3>
<hr>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
      <div class="">
          <div style="width: 100%;position: relative;">
              <img class="home-cover-image" src="/images/banner.jpg"/>
          <div>
          <div style="position: relative;display: inline;">
              <img class="home-profile-image" src="/image/s" />
              <div style="position: absolute;right: 7px;top: -25px;">
                  <h5 type="button" class="text-info" data-toggle="modal" data-target="#profilePicUploadCenter"><i class="fas fa-camera-retro"></i></h5>
                  <!-- Modal -->
                  <div class="modal fade" id="profilePicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Picture</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/upload-profile-photo" method="post" enctype="multipart/form-data">
                            <div class="form-group text-left">
                              <label class="form-label" for="customFile">Choose Profile Photo (jpeg/png)</label>
                              <input type="file" name="image" class="form-control" id="customFile" />
                            </div>
                            <div style="text-align: left;">
                              <button class="btn btn-success btn-sm ">Upload</button>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ----------model ends------- -->
                </div>
              </div>
              <div>
                  <h5 class="bolder text-secondary text-capetalize d-inline">
                    <strong>Sohag Roy</strong></h5>
                  <h5 class="bolder d-inline float-right">
                    <i class="fas fa-user"></i> Student
                  </h5>
              </div> 
              <hr> 
              <div class="colored-container  bolder">
                <div class="row">
                  <div class="col-lg-6 pb-2">
                    <div class="btn btn-block btn-md btn-info">Go to Department</div>
                  </div>
                  <div class="col-lg-6">
                    <div class="btn btn-block btn-md btn-info">Go to Batch</div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="item-container">
                <div >
                  <strong><i class="fas fa-book"></i> Today's Classes</strong>
                </div>
                <hr>
                <div class="d-flex justify-content-center">
                  
                  <a href="/class//details" style="text-decoration: none;">
                    <div class="activity-link-container-small border ">
                      <div class="item-container">
                        <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                      </div>
                      <div class="class-text-container bolder">
                        <p ><strong> Period : 2nd</strong></p>
                        <p ><strong> Timing : 12:00pm-02:00pm</strong></p>
                        <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar</strong></p>
                        <div class="m-2">
                          <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="/class//details" style="text-decoration: none;">
                    <div class="activity-link-container-small border ">
                      <div class="item-container">
                        <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                      </div>
                      <div class="class-text-container bolder">
                        <p ><strong> Period : 2nd</strong></p>
                        <p ><strong> Timing : 12:00pm-02:00pm</strong></p>
                        <p style="margin-bottom:.4rem;"><strong> Professor : Arindam Sarkar</strong></p>
                        <div class="m-2">
                          <div class="btn btn-outline-secondary btn-sm btn-block">Go to class details</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <hr>
              <div class="colored-container  bolder">
                <div >
                  <strong><i class="fas fa-user-tie"></i> Identity</strong>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-6">
                    <p><strong>Name : Sohag Roy</strong></p>
                    <p><strong>Department : Bengali</strong></p>
                  </div>
                  <div class="col-lg-6">
                    <p><strong>Session Year : 2021-2023</strong></p>
                    <p><strong>Semester : 2nd</strong></p>
                  </div>
                  <div class="col-12">
                    <div class=" btn btn-md btn-block btn-warning"><strong>See All Attendence Details</strong> </div>
                  </div>
                </div>
                
              </div>
              </div>
          </div> 
        </div>    
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
</div>

<hr>





<%- include('includes/footer') %>